.container {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: grid;
 width: 1440px;
 height: 1024px;
 justify-content: center;
 align-content: center;
 margin: 40px;
 grid-template-columns: 1000px 440px;
 grid-template-rows: 100px 824px 100px;
 grid-template-areas:
  "area1 area4"
  "area2 area4"
  "area3 area4";
 background-color: #f3f5fc;
 align-items: center;
}

.AluraIcon {
 grid-area: area1;
}

.TextInput {
 grid-area: area2;
}

.ButtonInput {
 grid-area: area3;
}

.TextOutput {
 width: 400px;
 height: 944px;
 grid-area: area4;
 padding: 32px;
 border-radius: 32px;
 background-color: white;
 display: flex;
 position: relative;
 flex-wrap: wrap;
 justify-content: center;
 align-content: center;
 -webkit-box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
 -moz-box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
 box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
}

.TextOutput {
 font-family: "Inter", sans-serif;
}

.TextOutput h2 {
 text-align: center;
 font-weight: 600;
 width: 336px;
 height: 122px;
 font-size: 24px;
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.TextOutput h2>span:not(:first-child) {
 font-size: 16px;
 font-weight: 400;

}

#copy {
 font-family: "Inter", sans-serif;
 color: "Light blue";
 width: 336px;
 top: 885px;
 height: 67px;
 text-align: center;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border: 1px solid #0a3871;
 border-radius: 24px;
}